<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.starwarsapp">
<uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".speciesPnt"></activity>
        <activity android:name=".filmsPnt" />
        <activity android:name=".planetsPnt" />
        <activity android:name=".vehiclesPnt" />
        <activity android:name=".peoplePnt" />
        <activity android:name=".spaceshipsPnt" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>